body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input {
  color: white;
  margin: 20px;
  background: steelBlue;
  font-size: 20px;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

#place {
  color: steelBlue;
  font-size: 5px;
  line-height: 4px;
  margin-top: 30px;
  font-family: "Courier New", Courier, monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input {
  width: 50px;
}